@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Welcome</h1>
    <p class="content">Implementing the .NET SDK in an ASP.NET app!</p>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Adipisci, vero
        iste recusandae magnam cum expedita modi minus veritatis officia, nemo
        perferendis numquam esse maiores. Nam expedita consectetur magni sunt
        necessitatibus.</p>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Adipisci, vero
        iste recusandae magnam cum expedita modi minus veritatis officia, nemo
        perferendis numquam esse maiores. Nam expedita consectetur magni sunt
        necessitatibus.</p>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Adipisci, vero
        iste recusandae magnam cum expedita modi minus veritatis officia, nemo
        perferendis numquam esse maiores. Nam expedita consectetur magni sunt
        necessitatibus.</p>
</section>
